[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
  background-image: none;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-lite {
  background-color: #343a40 !important;
}

[data-theme="dark"] .nav-link {
  color: #bb86fc !important;
}

[data-theme="dark"] .navbar-brand {
  color: #bb86fc !important;
}

[data-theme="dark"] .bg-pink {
  color: #bb86fc;
}

[data-theme="dark"] .btn-send {
  background-color: #7c4dff !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}